body {
    margin: 0;
    padding: 0;
}
.container {
    width: 65%;
    height: 420px;
    
}

table, th, td {
    margin: 15px;
    padding: 15px;
    text-align: left;
  }

  .title {
    background-color: rgb(65, 82, 119);
    color: white;
    text-transform: uppercase;
    text-align: center;
  }
  .header {
    background-color: rgb(167, 245, 219);
  }
  